.default{
  --headerBG:rgba(0, 0, 0, 0.8);
  --headerText:rgb(226, 226, 226);
  --mainBG:rgb(226, 226, 226);
  --mainText:black;
  --articleHeaderBG:rgb(136, 136, 136);
  --articleHeaderText:white;
  --articleBG:white;
  --articleText:black;
}

body{
  margin: 0 ;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(226, 226, 226);

}
#app {
  margin: 0 ;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
  position: sticky;
  top:0px;
  display: flex;
  justify-content: space-between;
  align-items:center;
  background-color: var(--headerBG);
  color: var(--headerText);
  backdrop-filter: blur(10px);
}

nav{
  padding: 0 20px;
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items:center;
}

main{
  padding: 0 20px;
  background-color: var(--mainBG);
  color: var(--mainText);
}

article{
  margin: 20px 0;
}

.articleHeader{
  background-color: var(--articleHeaderBG);
  color: var(--articleHeaderText);
  padding:10px;
}

@media only screen and (min-width:800px) {
  #menuIcon{
    display: none;
  }
}

@media only screen and (max-width:800px) {
  nav{
    flex-direction: column;
  }
  .hide{
    display: none;
  }
  .show{
    display: flex;
    flex-direction: column;
  }
}